In [1]:
d1 = {
}
type(d1)

dict

### dict are unordered, mutable and dont allow duplicate values

In [2]:
d1 = {
    "name" : "palak",
    "age" : 20,
    "score" : 90,
    "is adult" : True,                   #key can be string
     12.9 : 13,                          #float
     True : "correct",                   #boolean
     13 : False,                         #int
     "subjects" : ['english', 'arabic'], #list
     "values" :('dict',' list', 'tuple') #tuple
}
print (d1)
print(d1["subjects"])
print(d1["values"])

{'name': 'palak', 'age': 20, 'score': 90, 'is adult': True, 12.9: 13, True: 'correct', 13: False, 'subjects': ['english', 'arabic'], 'values': ('dict', ' list', 'tuple')}
['english', 'arabic']
('dict', ' list', 'tuple')

### nested dictionary

In [3]:
student= { "name" : "rahul kumar" ,
           "subjects":
            { "phy": 98,
             "chem": 87,
             "bio":78}}
print(student)
print(student["subjects"])
print(student["subjects"]["chem"])

{'name': 'rahul kumar', 'subjects': {'phy': 98, 'chem': 87, 'bio': 78}}
{'phy': 98, 'chem': 87, 'bio': 78}
87

### Dict methods

In [4]:
student= { "name" : "rahul kumar" ,
           "subjects":
            { "phy": 98,
             "chem": 87.9,
             "bio":78}}
print(student.keys())      #provide all the keys of outer layer

dict_keys(['name', 'subjects'])

In [5]:
student= { "name" : "palak" ,
           "subjects":
            { "phy": 98,
             "chem": 87.9,
             "bio":78}}
print(student.values())       #all the values would appear
print(list(student.values())) #to convert it into lists

dict_values(['palak', {'phy': 98, 'chem': 87.9, 'bio': 78}])
['palak', {'phy': 98, 'chem': 87.9, 'bio': 78}]

In [6]:
student= { "name" : "ARYAN" ,
           "subjects":
            { "phy": "PASS",
             "chem": "PASS",
             "bio":"FAIL"}}
print(student.items())         #pass the values as tuples
print(list(student.items()))   #converts to the list
pairs = list(student.items())
print(pairs[0])                 #to access first pair

dict_items([('name', 'ARYAN'), ('subjects', {'phy': 'PASS', 'chem': 'PASS', 'bio': 'FAIL'})])
[('name', 'ARYAN'), ('subjects', {'phy': 'PASS', 'chem': 'PASS', 'bio': 'FAIL'})]
('name', 'ARYAN')

In [7]:
student= { "name" : "palak" ,
           "subjects":
            { "phy": 98,
             "chem": 87.9,
             "bio":78}}

print(student.get("name"))   #returns the value
print(student.get("name2"))  #if this key is not present it won't give ERROR

palak
None

In [8]:
student= { "name" : "palak" ,
           "subjects":
            { "phy": 98,
             "chem": 87.9,
             "bio":78}}
print(student.update({"city":"Delhi"}))  #update the dictionary with new values
print(student)

None
{'name': 'palak', 'subjects': {'phy': 98, 'chem': 87.9, 'bio': 78}, 'city': 'Delhi'}

### store following meaning in dict
#### table: "a piece of furniture","list of facts and figure"
#### cat: a small animal

In [9]:
meaning = {
    "table" : "a piece of furniture","list of facts and figures"
    "cat" : "a small animal"}
print(meaning)

{'table': 'a piece of furniture', 'list of facts and figurescat': 'a small animal'}

### acess dictionary values

In [10]:
student = {
    'name' : "palak",
    'class' : 9,
    "city" : "hyderabad"}
print(student["city"])

hyderabad

### add a new key value pair

In [11]:
student = {
    'name' : "palak",
    'city' : "hyderabad"}
student['contact'] = 929202903
print(student)

{'name': 'palak', 'city': 'hyderabad', 'contact': 929202903}

### Update a value

In [12]:
student = {
    'name' : "palak",
    'city' : "hyderabad"}
student['city'] = "delhi"
print(student)

{'name': 'palak', 'city': 'delhi'}

### check if a key exists

In [13]:
student = {
    "name" : "palak",
    "city" : "hyderabad"}
if "name" in student:
     print("exists")
else:
    print("does not exists")

exists

### merge two dict

In [16]:
d1 = {1:'a',2:'b'}
d2 = {3:'c',4:'d'}
merged = {**d1, **d2}   #merging two dict
print(merged)

{1: 'a', 2: 'b', 3: 'c', 4: 'd'}

### find students who scored more than 80

In [21]:
score = {
    "junaid" : 90,
    "ahmad" : 79,
    "rahul" : 93,
    "sophia" : 37,
    "riya" : 78,
    "sonal" : 93}
for name, marks in score.items():
    if marks > 80:
        print(name, ":", marks)

junaid : 90
rahul : 93
sonal : 93

### find the coomon keys in dict

In [24]:
dict1 = {"a": 1, "b": 2, "c": 3}
dict2 = {"b": 4, "c": 5, "d": 6}

commonkeys = dict1.keys() & dict2.keys()
print(commonkeys)

{'c', 'b'}

In [26]:
data = {"b": 2, "a": 1, "c": 3}

sorteddict = dict(sorted(data.items()))
print(sorteddict)

{'a': 1, 'b': 2, 'c': 3}