## FUNCTIONS
### A function is a block of code which only runs when it is called.

In [ ]:
FUNCTIONS ARE OF TWO TYPES:
FORMAL ARG
ACTUAL ARG
IN ACTUAL ARG THERE ARE 4 TYPES:
POSITIONAL  ARG
KEYWORD     ""
DEFAULT     ""
VARIABLE    ""

In [4]:
def hello():
    print("good morning michael")
    print("how are you")

In [9]:
def hello():
    print("good morning michael")
    print("how are you")
hello()
#it will only print when uh will call the function
#with corrct identation*

good morning michael
how are you

In [10]:
def hello():
    print("good morning michael")
    print("how are you")
hello()

hello()

hello()

good morning michael
how are you
good morning michael
how are you
good morning michael
how are you

In [12]:
def hello():
    print("good morning michael")
    print("how are you")
hello('everyone')
#there's no positional arg given to the function

TypeError: hello() takes 0 positional arguments but 1 was given

In [36]:
def greet(name):
    print("Hello", name)
greet("you")

Hello you

In [46]:
def add(x, y):
    c=x+y
    print(c) 
    
add(5, 6)

11

In [47]:
def add(x, y):
    c=x+y
    print(c) 
    
add(5, 6,7)

TypeError: add() takes 2 positional arguments but 3 were given

In [ ]:
THE POSITIONAL ARG SHOULD BE EQUAL TO THE FORMAL ARG TO AVOID THIS ERROR
THEREFORE , NOW WE WILL INC THE ARG AS WELL

In [48]:
def add(x, y,Z):
    c=x+y
    print(c) 
    
add(5, 6,7)

11

In [49]:
def greet(): 
    print('hello')
    print('good morning')

greet()

def add(x, y):
    c=x+y
    return c
    
add(5, 6)

hello
good morning

11

In [51]:
#correct way of writing the code
def greet(): 
    print('hello')
    print('good morning')


def add(x, y):
    c=x+y
    return c
greet()
add(5, 6)

hello
good morning

11

In [52]:
def add_sub(x, y): # what if i want to return 2 values add_sub & i want to return 2 values & function can accept multiple value 
    c= x+y
    d= x-y
    return c, d 
    
result = add_sub(4,5)

print(result)
print(type(result))

(9, -1)
<class 'tuple'>

In [53]:
def add_sub(x, y): 
    c= x+y
    d= x-y
    return c, d 
    
result,result1 = add_sub(4,5)

print(result)
print(result1)
# to print the values seprately we have to assign diff names to the variable

9
-1

In [54]:
def add_sub_mul(x, y):  
    c= x+y
    d= x-y
    e = x*y
    return c, d, e

add_sub_mul(5, 2)

(7, 3, 10)

In [55]:
def add_sub_mul(x, y): 
    c= x+y
    d= x-y
    e = x*y
    return c, d, e

r,r1,r2 = add_sub_mul(5, 2)
print(r)
print(r1)
print(r2)

7
3
10

In [ ]:
# function with arg has these twao types

In [ ]:
def add(a,b): # a, b -- FORMAL ARGUMENT 
    c = a+b
    return c
add(5,6) # 5 , 6 --- ACTUAL ARGUMENT

In [37]:
def my_function(fname):
  print(fname +  " everyone")

my_function("hi")
my_function("hello")
my_function("hey")

hi everyone
hello everyone
hey everyone

In [38]:
def students(girls):
    print(girls + " good")
students("she's not")
students("she's")

she's not good
she's good

### Positonal arguments
### alwasy sees the position

In [43]:
def person(name, age):
    print(name)
    print(age)
person ('nit',22)

nit
22

In [45]:
def person(name, age):
    print(name)
    print(age)
person (22,'nit')

22
nit

In [ ]:
SO TO SOLVE THIS PROBLEM OF POSITONAL ARG WE INTRODUCED THE KEYWORD ARG

### Keyword arguments
### can specify arguments by name.

In [40]:
def student(name, age):
    print(name, age)
student (age = 22, name ='palak')
# order would not matter while calling the function

palak 22

In [42]:
def student (name, age):
    print(name)
    print(age)
student(age = 22, name = 'nit')

nit
22

In [56]:
def person(name, age, phone):
    print(name)
    print(age+1)
    print(phone)
    
person(age = 22, name = 'nit', phone = 789)

nit
23
789

### By default arg
### args are defined in formal arg

In [57]:
def person (name, age = 18):
    
     print(name)
     print(age)
person('nit')

nit
18

In [58]:
def person (name, age = 18):
    
     print(name)
     print(age)
person('nit', 17)

nit
17

In [59]:
def person (name, age = 18):
    
     print(name)
     print(age)
person(17,'nit')

17
nit

### Variable length arg
### it is used when we dont know how many args will be passed
### also known as arbitary keyword arg

In [60]:
def sum(a, b):
    c = a+b
    return c
    
sum(5,6)

11

In [62]:
def sum(a, b): 
    c = a+b
    return c
    
sum(5, 6, 7, 8)

TypeError: sum() takes 2 positional arguments but 4 were given

In [63]:
def sum(a, *b): 
    c = a+b
    return c
    
sum(5, 6, 7, 8)  
# *b cahnges the error

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [64]:
def sum(a, *b): # 1st argument is fixed but for 2nd argument
    #c = a+b
    print(a)
    print(type(a))
    
    print(b)
    print(type(b))

sum(5,6,7,8) 
# 6,7,8 is taken as tuple

5
<class 'int'>
(6, 7, 8)
<class 'tuple'>

#### a = 5

#### b = (6, 7, 8) ‚Üê tuple

### *args is treated as a tuple

### we use for loops for all the sequences like -- list tuple set dict

In [65]:
def sum(a, *b): # 1st argument is fixed & we fetch each value from the tuple & we can add them. 
    c = a  
    
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8)

26

In [67]:
def sum(a, *b): 
    c = 0  
    
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8)

21

In [66]:
def sum(a, *b):  
    c = a  
    
    for i in b:
        c = c + i 
    print(c)
        
sum(5,6,7,8,9,10,-1,-2,-3, 100, )

139

In [73]:
# function with no arg
def cs():
      return("hello")
cs()

'hello'

In [69]:
# function with one arg
def square(num):
    return num * num

print(square(4))

16

In [75]:
# function with multiple arg
def student(a,b,c,d):
    return(a + b +c +d)
student(1,2,3,4)

10

In [81]:
# function with default arg
def student (name  = 'aparna', college = 'nit'):
     return f" hello, {name},welcome to {college}"
print(student())

 hello, aparna,welcome to nit

In [84]:
def mobile( name = 'oppo', quality = 'good'):
    return f" hie {name},your qualtiy is {quality}"

print(mobile())

 hie oppo,your qualtiy is good

In [85]:
def mobile( name = 'motorola', quality = 'good'):
    return f" hie {name},your qualtiy is {quality}"

print(mobile())

 hie motorola,your qualtiy is good

In [ ]:
# below code is known as passing our own value

In [87]:
def mobile( name = 'motorola', quality = 'good'):
    return f" hie {name},your qualtiy is {quality}"

print(mobile('samsung', 'practical'))

 hie samsung,your qualtiy is practical

In [89]:
print(mobile(quality="best", name="Apple"))
# order will not matter here as names are used

 hie Apple,your qualtiy is best

In [90]:
# function with keyword args
def student(name, age, city):
    print(f"Name: {name}, Age: {age}, City: {city}")

student(age=20, name="Aparna", city="Delhi")

Name: Aparna, Age: 20, City: Delhi