### copy the elements

In [64]:
a=[1,2,3,4,5]
b=a.copy()
b

[1, 2, 3, 4, 5]

In [4]:
import copy
a=[[1,2],[3,4],[23,43]]   
b=copy.deepcopy(a)     #for nested list
b

[[1, 2], [3, 4], [23, 43]]

### area of rectangle

In [1]:
length = 22
breadth = 43
area of rectangle = l*b
print(area of rectangle)

946

### area of circle

In [2]:
r= 22
pie=3.14
area= pie*r*r
print(area)

1519.76

### sum of the list

In [17]:
a = [1,2,3,4,5,6,7,8,9,0]
print(sum(a))

45

In [8]:
a=[22,33,22,55,66]
b=[45,45,5,2,1,]
total_sum=sum (a)  #can't take two arg here*
total_sum

198

In [11]:
a=[198,393,392]
res=sum (a)
res

983

### multiply all no. in the list

In [13]:
import math
a= [2,4,2,1,3]
product= math.prod(a)  #math library provides prod function for multi
product

48

In [14]:
a=[2,3,4,1]
product= (2*3*4*1)
product

24

### finding max and min in a list

In [16]:
a = [10, 24, 76, 23, 12]
res = max(a)
print(res)
res1 =min(a)
print(res1)

76
10

### largest and smallest no. in the listt

In [19]:
a = [32,4,522,74,254,476,82]
print('largest:', max(a))
print('smallest:',min(a))

largest: 522
smallest: 4

### count the no. of elements

In [26]:
a = [2,3,4,5,3,2,3,4,5,3,4,4,2]
print ("count of 4;",(4))

count of 4; 4

### reverse a list without using reverse

In [30]:
a = [22,33,21,76,113]
reverse = a [::-1]
print(reverse)

[113, 76, 21, 33, 22]

### check whether a list is empty

In [33]:
list=[]
if not list:
    print('list is empty')
else:
    print('list is not empty')

list is empty

### print elements at even indexes

In [37]:
numbers = [10, 20, 30, 40, 50, 60]
print(numbers[::2])

[10, 30, 50]

### print no. at odd index

In [46]:
numbers = [32,3,2,3,31,123]
print(numbers[1::2])

[3, 3, 123]

### find the sum and average

In [52]:
a = [12,21,12,14]
total = sum(a)
average = total/len(a)
print(total)
print(average)

59
14.75

### find the squares of the element

In [57]:
a = [1, 2, 3, 4]
square = [n*n for n in a]
print(square)

[1, 4, 9, 16]

### check if the list is palindrome

In [59]:
a = [1, 2, 3, 2, 1]

if a == a[::-1]:
    print("Palindrome")     # same form both the sides
else:
    print("Not Palindrome")

Palindrome

### merge two lists

In [60]:
a = [1, 2, 3]
b = [4, 5, 6]

merged = a + b
print(merged)

[1, 2, 3, 4, 5, 6]

### find the second largest element

In [ ]:
numbers = [10, 20, 5, 30]
numbers = list(set(numbers))  # remove duplicates
numbers.sort()                # sort in ascending order
print(numbers[-2])            # second largest element