#### Printing no. from 1 to 5

In [1]:
for i in range(1, 6): #starts from 1 ends at 5
    print(i)

1
2
3
4
5

In [2]:
for i in range(3): #will print 3 time the given value
    print("Hello")

Hello
Hello
Hello

#### even no. from 2 to 10

In [3]:
for i in range(2, 11, 2):
    print(i)

2
4
6
8
10

### Loops are of two types while loop and for loop

In [4]:
i = 1         #starts from 1
while i <= 5: #goes until 5
    print(i)
    i += 1    #inc with 1

1
2
3
4
5

In [5]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

#### print square from 1 to 5

In [6]:
for i in range(1,6):
    print(i*i)

1
4
9
16
25

#### print every character of the word

In [7]:
word = "Python"

for ch in word:
    print(ch)

P
y
t
h
o
n

In [8]:
spell = " Aparna Agnihotri"
for ch in spell:
    print(ch)

A
p
a
r
n
a

A
g
n
i
h
o
t
r
i

#### sum of numbers from 1 to 5

In [9]:
total= 0

for i in range(1,6):
     total += i 
print(total)

15

In [10]:
total = 0

for i in range(1, 6):
    total += i

print(total)

15

#### reverse counting

In [11]:
i = 10
while i >= 1:
    print(i)
    i -=1

10
9
8
7
6
5
4
3
2
1

#### multiplication of a no. n

In [23]:
i = 1
while i <= 10:
     print(3*i)
     i +=1

3
6
9
12
15
18
21
24
27
30

#### print elements from list

In [24]:
numbers = [10, 20, 30, 40, 50]

for item in numbers:
    print(item)

10
20
30
40
50

In [25]:
numbers = [10, 20, 30, 40, 50]

for i in range(len(numbers)):
    print(numbers[i])

10
20
30
40
50

In [27]:
numbers = [10, 20, 30, 40, 50]
i = 0
while i < len(numbers):
     print(numbers[i])
     i +=1

10
20
30
40
50

#### print only positive no.

In [28]:
data = [-5, 3, -2, 7, 0]

for x in data:
    if x > 0:
        print(x)

3
7

#### stop loop when no. reaches 11

In [29]:
for i in range(1, 100):
    if i == 12:
        break
    print(i)

1
2
3
4
5
6
7
8
9
10
11