### length of tuple

In [1]:
t = (1,2,2,3,3,4,4,5,6,7,7,4)
len(t)

12

### acess the first and last element of tuple

In [4]:
t = (3,2,2,4,2,2,3,43)
print(t[0])
print (t[-1])

3
43

### check if the element exists in tuple

In [6]:
t = (1,2,3,4,5)
if 2 in t:
    print("exists")
else:
    print( "does not exists")

exists

### count occurence of an element

In [11]:
t= (3,4,3,2,3,4,2,1,3,4)
print(t.count(2))

2

### find max and min

In [15]:
t = (32,2,3,24,5,7,32,78,23,254)
print("max:",max(t))
print("min:",min(t))

max: 254
min: 2

### tuple slicing

In [26]:
t = (2,3,4,6,3,1)
print(t[0:5])
print(t[5:])    
print(t[1:])
print(t[:4])
print(t[-3:-4])   #empty list
print(t[-4:-3])   #first index element

(2, 3, 4, 6, 3)
(1,)
(3, 4, 6, 3, 1)
(2, 3, 4, 6)
()
(4,)

### convert list into tuple

In [27]:
l = [323,32,332,2323,23]
t= tuple(l)
print(t)

(323, 32, 332, 2323, 23)

### remove an element from tuple

In [4]:
t= (22,21,13,31)
list1 = list(t)
list1.remove(22)
t = tuple(list1)
print(t)

(21, 13, 31)

In [5]:
t = ("apple","banana","grapes")
convert = list(t)
convert.remove("apple")
t = tuple (convert)
print(t)

('banana', 'grapes')

### sort a tuple

In [6]:
t = (2,4,5,7,3,1,4,5,6,0)
print(t.sort)             # sort does not work in tuple

AttributeError: 'tuple' object has no attribute 'sort'

In [8]:
t = (2,4,5,7,3,1,4,5,6,0)
sort = (sorted(t))  # sorted function works for list, tuples and string
tuple(t)            # sorted function returns a list,so convert it to tuple
print(sort)

[0, 1, 2, 3, 4, 4, 5, 5, 6, 7]

### tuple unpacking

In [9]:
t = (10, 20, 30)
a,b,c= t
print(a,b,c)

10 20 30

### swaping elements

In [10]:
a = 10
b = 29
a,b=b,a
print(a,b)

29 10

In [ ]:
#swapping more than one element

### nested tuple acess

In [16]:
t = (2,2,3,(22,2211,11))
print(t[3][1])

2211

In [15]:
t = (1, 2, (3, 4, 5))
print(t[2][1])

4

### common elements bw two tuples

In [24]:
t1 = (2,2,34,3,2)
t2 = (2,2,3,4,2,1)
common = (set(t1)&set(t2))  #set stores unique values and support intersection operation
print (tuple(common))       #again convert it to tuple

(2, 3)

### find second largest element

In [31]:
t = ( 2,2,3,4,4,6,3,2,1)
sort = tuple(list(t))         #converting into list
sort = sorted(sort)          #last second element will be the largest
print(sort[-2])

4

In [28]:
t = (4, 1, 7, 3)
unique = tuple(set(t))       #by converting it into set
unique = sorted(unique)
print(unique[-2])

4

### check if the tuple is empty

In [32]:
t = ()
if not t:
    print("Empty tuple")

Empty tuple

### remove duplicate items from the list

In [33]:
t = (1, 2, 2, 3, 3, 4)
unique = tuple(set(t))  #set has unique values only
print(unique)

(1, 2, 3, 4)

### convert tuple of tuple into dictionary

In [34]:
t = (("a", 1), ("b", 2))
d = dict(t)
print(d)

{'a': 1, 'b': 2}